<!doctype html>
<html lang="en">
 <head>
 <!-- <?php include('header.php');
 ?> -->
 <head>
 <style>
 body{
   background:url("iifa.jpg") no-repeat center fixed;
   background-size:cover;
  
 }
</style>

</head>
      
     
  <body>

  <div class = "container-fluid text-center w3-blue" style = "margin-top:0px"> 
  <font size = "100">
  Overview
  </font>
  </div>
  <!-- <div class = "container-fluid text-center" style = "margin-bottom:100px;margin-top:100px">
  <a href = "about.php">
<img src = "Eventing.jpg">

</a>

</div> -->








 
  
  <div class="container-fluid text-center w3-pink"  style = "margin:0px">
  <h1>
  <p class  = "text-primary">
  From music festivals and conventions to pop-up dinners and <br>photography classes, transform your vision into an experience people will love.

  </p></h1>
  
  
 
  <h1>
  Reviews from clients
  <p class  = "text-primary">
  I had the pleasure of working with Nikki and the rest of her amazing team from Eventing this past June.<br>
   Navin was very professional and was always available to handle any of my questions and concerns.<br>
    We had a new office opening celebration and a brand launch which was super challenging to execute.<br>
     Navin listened to all my ideas and worked with me to transform our traditional office space into a fantastic LA themed multi-cultural event.<br>
      To add to the challenge I got injured a few hours before the event and she and her team stepped right in to make sure my vision was executed as planned so I didn’t have to worry. 
      <br>Everyone raved about the event afterwards.

I would definitely recommend Eventing for any special event planning.<br>
 They are the best!<br>
Grace R.<br>
Los Angeles Company
  </p></h1>
  </div>


   
    



  </body>
</html>